<!-- Homepage -->
<!-- Loop over each object in the posts array -->
{{#each posts as |Post| }}
<div class="row mb-4 post">
    <div class="col-md-5">
        <h2>
            <a href="/post/{{Post.id}}">{{Post.title}}</a>
        </h2>
        <p>Post created by {{Post.User.first_name}} {{Post.User.last_name}} on {{format_date Post.created_at}}</p>
    </div>
    <div class="col-md-7">
        <p>
            {{Post.content}}
        </p>
    </div>
</div>
{{/each}}